{
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "extends": ["eslint:recommended"],
  "rules": {
    "no-console": 0,
    "semi": [2, "always"],
    "comma-dangle": 0
  }
}
